<h3>Employee List</h3>
<a href="/employee">Create New</a>
<div class="list">
  {{#each list}}
  <div class="list-item">
    <ul>
      <li>Name: {{this.fullName}}</li>
      <li>Email: {{this.email}}</li>
      <li>Mobile: {{this.mobile}}</li>
      <li>City: {{this.city}}</li>
    </ul>
    <div class="twoInOne">
      <a href="/employee/{{this._id}}">Modify</a>
      <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record?');">Delete</a>
    </div>
  </div>
  {{/each}}
</div>